.page-tree
  position: relative
  margin: 0 space(1)
  border-top: rem(2) solid $grey

.page-tree__list
  display: block
  position: relative
  margin: 0
  padding: 0
  list-style: none

  .page-tree__list
    padding-left: space(1.5)

.page-tree__item,
.page-tree__empty,
.page-tree__placeholder
  display: block
  position: relative
  margin: 0
  padding: 0

.page-tree__handle
  display: block
  position: absolute
  left: space(.5)
  margin: rem(4) 0
  padding: rem(5) rem(10)
  color: $body-font-color
  background-color: transparent
  border: 0

  .icon
    height: rem(20)
    width: rem(20)

  &:hover
    color: $grey-dark

    + .page-tree__content
      background-color: $white

.page-tree__item
  +clearfix

  .btn__group
    float: right
    margin: 0

  .btn--icon
    background-color: $grey-light
    border-radius: 100%
    color: $grey-darker

    &:hover
      color: $body-font-color

    &:active
      color: $primary-color

.page-tree__btn-collapse,
.page-tree__btn-expand
  display: block
  position: relative
  cursor: pointer
  float: left
  width: rem(40)
  height: rem(40)
  margin: rem(4) space(1) 0 space(4)
  padding: 0
  border: 0
  background: transparent

  &:hover
    ~ .page-tree__content
      background-color: $white

.page-tree__placeholder,
.page-tree__empty
  margin: rem(6) 0
  padding: 0
  background: $grey
  border: rem(1) dashed $grey-dark

.page-tree__empty
  border: rem(1) dashed $grey-dark
  min-height: rem(100)
  background-color: $white

.page-tree__content
  display: block
  padding: rem(4) space(.5) rem(4) space(6)
  text-decoration: none
  font-size: rem(20)
  line-height: 2
  background-color: $grey-light
  border-bottom: rem(2) solid $grey
  +clearfix

  > a
    color: $body-font-color

    &:hover
      color: $primary-color

  &:hover
    background: $white

// ----------------------------------------------------------
// STATES
// ----------------------------------------------------------
.page-tree--collapsed
  .page-tree__list
    display: none

.page-tree__content.unpublished
  color: $grey

.page-tree__dragel
  position: absolute
  pointer-events: none
  z-index: 9999

  .page-tree__content
    background-color: $white

  > li:first-child > .page-tree__handle
    color: $primary-color
