= simple_form_for setting, url: cms_settings_path(setting), method: :patch, wrapper: :bootstrap, html: { class: 'form-horizontal' } do |f|

  .form-inputs
    = f.input :value, label: t("settings.#{setting.var}"), as: :string

  .form-actions
    = f.button :submit, t('.save')
