- if @pages.present?
  %h2.success
    = t('.number-of-results', :count => @pages.size)
  %ul.search-results.success
    - @pages.each do |page|
      %li= render 'qbrick/search/results_entry', :page => page
- else
  %h2.no-results= t('.no-results')
