.icon--add { background-image: image-url('qbrick/cms/icons/png/add.png'); }


.icon--arrow-left { background-image: image-url('qbrick/cms/icons/png/arrow-left.png'); }


.icon--arrow-right { background-image: image-url('qbrick/cms/icons/png/arrow-right.png'); }


.icon--attachement { background-image: image-url('qbrick/cms/icons/png/attachement.png'); }


.icon--cart { background-image: image-url('qbrick/cms/icons/png/cart.png'); }


.icon--close { background-image: image-url('qbrick/cms/icons/png/close.png'); }


.icon--data { background-image: image-url('qbrick/cms/icons/png/data.png'); }


.icon--disturb { background-image: image-url('qbrick/cms/icons/png/disturb.png'); }


.icon--done { background-image: image-url('qbrick/cms/icons/png/done.png'); }


.icon--download { background-image: image-url('qbrick/cms/icons/png/download.png'); }


.icon--edit { background-image: image-url('qbrick/cms/icons/png/edit.png'); }


.icon--folder { background-image: image-url('qbrick/cms/icons/png/folder.png'); }


.icon--image { background-image: image-url('qbrick/cms/icons/png/image.png'); }


.icon--item-new { background-image: image-url('qbrick/cms/icons/png/item-new.png'); }


.icon--link-to { background-image: image-url('qbrick/cms/icons/png/link-to.png'); }


.icon--link { background-image: image-url('qbrick/cms/icons/png/link.png'); }


.icon--list { background-image: image-url('qbrick/cms/icons/png/list.png'); }


.icon--location { background-image: image-url('qbrick/cms/icons/png/location.png'); }


.icon--menu { background-image: image-url('qbrick/cms/icons/png/menu.png'); }


.icon--news { background-image: image-url('qbrick/cms/icons/png/news.png'); }


.icon--open { background-image: image-url('qbrick/cms/icons/png/open.png'); }


.icon--order { background-image: image-url('qbrick/cms/icons/png/order.png'); }


.icon--page { background-image: image-url('qbrick/cms/icons/png/page.png'); }


.icon--people { background-image: image-url('qbrick/cms/icons/png/people.png'); }


.icon--phone { background-image: image-url('qbrick/cms/icons/png/phone.png'); }


.icon--play { background-image: image-url('qbrick/cms/icons/png/play.png'); }


.icon--reload { background-image: image-url('qbrick/cms/icons/png/reload.png'); }


.icon--search { background-image: image-url('qbrick/cms/icons/png/search.png'); }


.icon--settings { background-image: image-url('qbrick/cms/icons/png/settings.png'); }


.icon--show { background-image: image-url('qbrick/cms/icons/png/show.png'); }


.icon--star { background-image: image-url('qbrick/cms/icons/png/star.png'); }


.icon--trash { background-image: image-url('qbrick/cms/icons/png/trash.png'); }


.icon--upload { background-image: image-url('qbrick/cms/icons/png/upload.png'); }


