%header.main__header
  %h1= controller.request.host
  = link_to qbrick.new_cms_page_path, class: 'button button--icon button--icon-big-white' do
    - streusel_icon('item-new', 'icon--m')
    = t('.add_page')

.main__content
  .row
    .span8.pages-list
      .dd
        = render partial: 'branch', locals: { pages: @pages }
    .span4
