%header.main__header
  %h1= controller.request.host
  = link_to qbrick.new_cms_page_path, class: 'button' do
    %i.icon-plus-sign.icon-white
    = t('.add_page')

.main__content
  .row
    .span8.pages-list
      .dd
        = render partial: 'branch', locals: { pages: @pages }
    .span4
