%header.main__header
  %h1= controller.request.host
  = link_to qbrick.new_cms_page_path, class: 'btn btn--icon btn--icon-big-white', title: t('.add_page') do
    - streusel_icon('item-new', 'icon--m')
    %span= t('.add_page')

.main__content
  .spacer
  .page-tree
    = render partial: 'branch', locals: { pages: @pages }
