html,
body
  height: 100%

body
  background-color: $primary-color

main
  background-color: $grey-light

  + footer
    min-height: rem(50)

.main__inner
  +outer-container()

.main__header
  +row()
  padding: 0 space(1)

  h1
    display: inline-block

    + .btn
      margin-left: space(2)

.spacer
  padding-top: space(2)
