- unless @page.bricks.empty?
  .btn__group
    %button.btn.btn--small{ 'data-toggle' => 'popover', 'data-content' => t('.brick_clone_info'), 'data-original-title' => t('.brick_clone_info_title')}
      = t('.brick_clone_info')
    %button.btn.btn--small.dropdown-toggle{ 'data-toggle' => 'dropdown', type: 'button'}
      = t('.clone_bricks')
      - streusel_icon('open')
    %ul.dropdown-menu.pull-right
      - I18n.available_locales.each do |locale|
        - unless current_locale? locale
          - if @page.translated_to?(locale)
            %li= link_to t('.to_locale', locale_name: locale.upcase), cms_page_mirror_path(@page, target_locale: locale, rutheless: false), remote: true

          - else
            %li.disabled{ 'data-toggle' => 'tooltip', 'title' => t('.not_translated') }
              = link_to t('.to_locale', locale_name: locale.upcase), '#'
