- unless brick_list.brick_types.empty?
  - if brick_list.brick_types.allowed.count > 1
    .dropdown
      %button.btn.btn--small.btn--primary.dropdown__toggle{ 'data-toggle' => 'dropdown', type: 'button', aria: {expanded: 'false', haspopup: 'true' }}
        = t('.add_element')
        - streusel_icon('item-new')
      %ul.dropdown__menu{role: 'menu'}
        - brick_list.brick_types.allowed.group_by(&:group).each do |group, types|
          - types.map { |type| cms_brick_item brick_list, type }.compact.each do |brick_type_item|
            %li
              = brick_type_item

  - else
    .btn__group
      - brick_list.brick_types.allowed.each do |type|
        = link_to t('.add_specific_element', :name => type.class_name.constantize.model_name.human), qbrick.new_cms_brick_path(:brick => { :type => type.class_name, :brick_list_id => brick_list.id, :brick_list_type => brick_list.brick_list_type }), :remote => true, :class => 'btn btn-small btn-primary'
