#flash.flash
  - flash.each do |key, value|
    .flash__message{ :class => "flash--#{key}" }
      = value
      %button.btn.btn--icon{ :type => :button, 'data-dismiss' => :alert }
        - streusel_icon('close')

