%nav.iconbar{role: 'navigation'}
  %ul.iconbar__list
    %li.iconbar__item
      = link_to t('.settings'), qbrick.cms_settings_collections_path
    %li.iconbar__item
      = link_to Qbrick::Page.model_name.human(:count => 2), qbrick.cms_pages_path
