%nav.iconbar{role: 'navigation'}
  %ul.iconbar__list
    %li.iconbar__item
      = link_to qbrick.cms_settings_collections_path do
        - streusel_icon( 'settings')
        = t('.settings')
    %li.iconbar__item
      = link_to qbrick.cms_pages_path do
        - streusel_icon( 'page')
        = Qbrick::Page.model_name.human(:count => 2)
